<a href='/'>Home</a>

<h1>Recipe</h1>
<ul>
    {% for item in data %}
        <li>
            {{ item.title }}
            <ul>
                <li>
                    {{ item.description }}
                </li>
                <li>
                    Prep time: {{ item.time_required }}
                </li>
                <li>
                    Instructions: {{ item.instructions }}
                </li>
                <li>
                    Chef: <a href='/author/{{ item.author.id }}/'>{{ item.author }}</a>
                </li>
            </ul>
        </li>
{% if user.is_authenticated %}
{% if request.user == item.author.user or request.user.is_staff  %}
<a href='/editrecipe/{{ item.id }}/'>Edit Recipe</a>
{% endif %}
{% endif %}
    {% endfor %}
</ul>